{% extends "modelo_base.html" %}
{% block conteudo %}
<div class="conteudo">
    <p>
        Olá! Eu me chamo Alisson Araújo de Lima, técnico e licenciado em Informática pelo Instituto Federal do Rio Grande do Norte.
    </p>  
    <p>  
        Esta página em um pedacinho pacato da internet é onde eu compartilho um pouco mais sobre minhas experiências profissionais. Seja bem-vindo(a)!
    </p>
    <p>
        Acredito fortemente que se aprende muito ao ensinar, e como gosto muito de aprender, também gosto muito de ensinar.
    </p>
    <br>
    <img src="/static/imagens/headshot IA.png" id="headshot">
</div>
{% endblock %}